@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Movies</h2>



<a href="https://localhost:44306/Movies/New" class="btn btn-primary">New Movie</a>
@*@Html.ActionLink("New Movie", "New", "Movies")*@



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movies in Model)
        {

        <tr>
            <td>@Html.ActionLink(movies.Name, "New", "Movies", new { id = movies.Id }, null)</td>
            <td>@movies.Genre.Name</td>
        </tr>
        }
    </tbody>
</table>