@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







@{ 
    if (Model.CustomerName == null)
    {
        <p>This customer is not in the database</p>
    }
    else
    {
        <h2>@Model.CustomerName.Name</h2>
    }
}




